*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
}

.sub-div{
    height: 100vh;
    width: 40vw;
    background-color: rgb(118, 105, 134);
    display: flex;
    justify-content: center;
}